body {
  background-color: #0f0e17;
  color: #fffffe;
  font-size: 2vw;
  overflow: hidden;
}

h1, h2, button {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: .9em;
}

p, input, small {
  color: #a7a9be;
  font-family: 'Poppins', sans-serif;
  font-size: .8em
}
small {
  font-size: .5em
}

button {
  background-color: #ff8906;
  color: #fffffe;
  border: none;
  border-radius: .2em;
  font-size: .8em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 2em;
  padding-left: 2em;
  font-weight: bold;
}
